<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      #mapDiv {width: 800px; height: 500px;}
    </style>
  </head>
  <body>
    <a href="/">Index</a> <b>Base Maps</b><br>
    <input id="btnRoad" type="button" value="RoadMap">
    <input id="btnSat" type="button" value="Satellite">
    <input id="btnHyb" type="button" value="Hybrid">
    <input id="btnTer" type="button" value="Terrain">
    <div id="mapDiv"></div>

    <!-- Include Google Maps JS API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHjKIkr6hirRofFh3j1lTL8pSlp5a3COo"></script>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiRVq7IVM7BR1Aa2t8xXojO17RRC2G36A&sensor=false"></script>-->
    <!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>-->
    <script type="text/javascript">
      // defining map a global variable to access from other functions
      var map;

      function initMap() {
        // enabling new cartograpthy and themes
        google.maps.visualRefresh = true;

        // setting starting options of map
        var mapOptions = {
          center: new google.maps.LatLng(39.9078, 32.8252),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP //starting base map
        };

        // getting map DOM element
        var mapElement = document.getElementById('mapDiv');

        // creating a map with DOM element which is just obtained
        map = new google.maps.Map(mapElement, mapOptions);

        // starting listening for button click events.
        startButtonEvents();
      }

      function startButtonEvents() {
        document.getElementById('btnRoad').addEventListener('click', function() {
          map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
        });
        document.getElementById('btnSat').addEventListener('click', function() {
          map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
        });
        document.getElementById('btnHyb').addEventListener('click', function() {
          map.setMapTypeId(google.maps.MapTypeId.HYBRID);
        });
        document.getElementById('btnTer').addEventListener('click', function() {
          map.setMapTypeId(google.maps.MapTypeId.TERRAIN);
        });
      }
      
      google.maps.event.addDomListener(window, 'load', initMap)
    </script>

  </body>
</html>
